dist
.idea
__pychache
Relatórios
Serviços
venv
botCTe/.pytest_cache
botCTE/.egg-info
botCTE/dist
botCTE/build
botCTE/.mypy_cache
botCTE/.vscode
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.env
.env.*
.ipynb_checkpoints
celerybeat-schedule
botCTE/botCTE/dist
botCTE/botCTE/build
botCTE/botCTE/.eggs
botCTE/botCTE/*.egg-info
botCTE/botCTE/__pycache__
botCTE/botCTE/migrations/__pycache__
botCTE/botCTE/migrations/*.pyc
botCTE/botCTE/staticfiles
botCTE/botCTE/media
botCTE/botCTE/.vscode
botCTE/botCTE/.pytest_cache
botCTE/botCTE/.mypy_cache
botCTE/botCTE/.idea
botCTE/botCTE/.env
botCTE/botCTE/.env.*
botCTE/botCTE/celerybeat-schedule
botCTE/botCTE/*.db
botCTE/botCTE/*.sqlite3
botCTE/botCTE/.DS_Store
botCTE/botCTE/__pycache__
botCTE/botCTE/*.pyc
botCTE/botCTE/*.pyo
botCTE/botCTE/*.pyd
botCTE/botCTE/.ipynb_checkpoints
*.xlsx
!botCTE/botCTE/Alíquota.xlsx
!botCTE/botCTE/Complementares.xlsx